@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prosto+One');
a {
    color: #fff;
    font-size: 1.1em;
    text-shadow: 5px 5px 5px black;
    font-family: 'Open Sans', sans-serif;
}

#navName {
    font-family: 'Prosto One', cursive;

}

a:hover {
    color: rgb(255, 222, 38);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-footer {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

navbar-brand, h2 {
    /* font-family: 'Hammersmith One', sans-serif; */
    font-family: 'Prosto One', cursive;
}

nav-item:hover {
    color: #fff;
}

/* effect-shine */

a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}